doctype 5
html
    head
        meta(charset='utf-8')
        title= 'KISSY-Gallery'
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js")
        script(src='/javascripts/index.js')
    body
        #page
            #header
                .logo.w1336
            #main
                .guide.w1336
                    .bd
                        a.guide-link.dev(href="#")
                            em 15分钟开发kissy组件
                        a.guide-link.spec(href="#")
                            em gallery组件规范说明
                        a.guide-link.tool(href="#")
                            em abc工具使用指南
                    .ft
                        a.source.animated(href="#")  source on github
                .contribute
                    p.title 成为贡献者
                .component
            #footer
                .contact
                .index-author