doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css?t=20130924')
    link(rel='stylesheet', href='/stylesheets/docs.css?t=20130924')
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/prettify.js')
    script(src='/javascripts/docs.min.js')
    script(src='/javascripts/jquery.githubRepoWidget.min.js')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    block content
    script
        var url ='http://log.mmstat.com/ued.1.1.2?type=9&_gm:id=gallery&click=1&_t='+new Date().getTime();
        url = url + '&com='+$("h1.title").text();
        var image = new Image();
        image.src = url;