html
    head
        meta(charset='utf-8')
        title= 'KISSY-Gallery'
        script(src='http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js')
        script(src='/javascripts/list.js')
        link(rel='stylesheet', href='/stylesheets/list.css')
    body
        h2 Kissy Gallery
            span 社区贡献的组件汇集地
        div#J_Coms





