body {
  font-family: "Microsoft Yahei";
  overflow-x: hidden;
}
/* color-line */
.color-line {
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #24abeb;
}
.color-line .one,
.color-line .two,
.color-line .three {
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.color-line .one {
  width: 110px;
  background-color: #ff5500;
}
.color-line .two {
  width: 170px;
  background-color: #333;
}
/* container */
.container-fluid {
  padding: 0;
  padding-right: 70px;
}
/* navbar */
.bs-docs-sidebar h1 {
  margin: 0;
  padding: 0;
  text-indent: 15px;
  position: fixed;
  top: 10px;
  background-color: #24ABEB;
  height: 90px;
  width: 280px;
  line-height: 90px;
  font-weight: 600;
  color: #fff;
}
.bs-docs-sidebar .nav {
  margin-top: 100px;
  background-color: #24ABEB;
  height: 1680px;
  width: 280px;
  padding: 0;
}
.bs-docs-sidebar .nav li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #3bbaf7;
}
.bs-docs-sidebar .nav li:last-child {
  border: none;
}
.bs-docs-sidebar .nav li a {
  display: block;
  height: 45px;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: none;
}
.bs-docs-sidebar .nav li a:hover {
  background-color: #1F8FC4;
}
.bs-docs-sidebar .nav li.active a {
  background-color: #1F8FC4;
}
.bs-docs-sidebar .nav-toggle {
  display: block;
  position: fixed;
  top: 320px;
  width: 16px;
  height: 85px;
  margin-left: 264px;
  background: url('../images/toggle.png');
  z-index: 99;
}
/* mini sidebar */
.bs-docs-sidebar-mini {
  position: fixed;
  left: 0;
  top: 10px;
  height: 100%;
  width: 0;
  background-color: #24ABEB;
  z-index: 50;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.bs-docs-sidebar-mini .nav-toggle {
  display: block;
  position: absolute;
  top: 320px;
  left: 10px;
  width: 16px;
  height: 85px;
  background: url('../images/toggle.png') no-repeat -16px 0;
  z-index: 99;
}
/* content */
.bs-docs-content {
  margin-top: 55px;
  color: #555;
}
.bs-docs-content .common-link {
  position: fixed;
  right: 0;
  top: 10px;
  width: 365px;
  height: 40px;
}
.bs-docs-content .common-link a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.bs-docs-content .common-link .source {
  width: 100px;
  background-color: #f50;
}
.bs-docs-content .common-link .home {
  width: 148px;
  background-color: #333;
}
.bs-docs-content .common-link .demo {
  width: 100px;
  background-color: #fa681f;
}
.bs-docs-content .github-star {
  display: none;
  position: relative;
  top: 20px;
  left: 20px;
}
.bs-docs-content h1 {
  display: none;
}
.bs-docs-content h1.title {
  display: block;
  float: left;
  font-size: 48px;
  font-weight: 500;
  color: #333;
}
.bs-docs-content h1.title:first-letter {
  text-transform: uppercase;
}
.bs-docs-content hr {
  display: none;
}
.bs-docs-content hr.title-hr {
  display: block;
  width: 100%;
  margin-top: 30px;
  border-bottom: none;
  border-top: 4px solid #e5e5e5;
}
.bs-docs-content h2 {
  font-size: 24px;
  color: #317eac;
  padding-bottom: 10px;
  border-bottom: 3px solid #eee;
  margin: 40px 0;
}
.bs-docs-content .alert {
  margin: 20px 0;
  padding: 10px 35px 10px 14px;
  color: #817B58;
  background-color: #EDEBE1;
  border-color: #E0D9CB;
}
.bs-docs-content h3 {
  font-size: 22px;
  color: #317eac;
  margin-bottom: 20px;
}
.bs-docs-content h4 {
  font-size: 14px;
  color: #317eac;
}
.bs-docs-content li {
  line-height: 28px;
}
.bs-docs-content hr {
  margin: 10px 0 20px;
  border-bottom: none;
  border-top: 1px solid #ccc;
}
.bs-docs-content table {
  width: auto;
}
.bs-docs-content table th,
.bs-docs-content table td {
  padding: 6px 13px;
}
.bs-docs-content .GithubEmbed {
  position: relative;
  margin-bottom: 40px;
  min-height: 40px;
}
.bs-docs-content .GithubEmbed a.btn {
  position: absolute;
  bottom: 7px;
  right: 100px;
}
/* Responsive
-------------------------------------------------- */
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  
}
/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
  .bs-docs-sidebar h1 {
    width: 226px;
  }
  .bs-docs-sidebar .nav {
    width: 226px;
  }
  .bs-docs-sidebar .nav-toggle {
    margin-left: 210px;
  }
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  .bs-docs-sidebar h1 {
    width: 166px;
  }
  .bs-docs-sidebar .nav {
    width: 166px;
  }
  .bs-docs-sidebar .nav-toggle {
    margin-left: 150px;
  }
}
.bs-docs-content .add-star-tip {
  margin-top: 35px;
  color: #f50;
}
em {
  background-color: #f50;
  color: #fff;
  font-style: normal;
  padding: 2px 10px;
  border-radius: 3px;
}
p {
  margin-bottom: 20px;
  font-size: 14px;
}
/* Tablet
------------------------- */
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid .bs-docs-sidebar {
    display: none;
  }
  .container-fluid .bs-docs-content {
    width: 95%;
  }
}
