@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% {
        -webkit-transform-origin: top center;
    }

    20% {
        -webkit-transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes swing {
    20% {
        -moz-transform: rotate(15deg);
    }

    40% {
        -moz-transform: rotate(-10deg);
    }

    60% {
        -moz-transform: rotate(5deg);
    }

    80% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes swing {
    20% {
        -o-transform: rotate(15deg);
    }

    40% {
        -o-transform: rotate(-10deg);
    }

    60% {
        -o-transform: rotate(5deg);
    }

    80% {
        -o-transform: rotate(-5deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateIn {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateIn {
    0% {
        -o-transform-origin: center center;
        -o-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: center center;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center center;
        transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1;
    }
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -o-transform: translateY(30px);
    }

    80% {
        -o-transform: translateY(-10px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: #e3e1e1;
}

body {
    font-family: "Microsoft YaHei";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-fixed {
    position: fixed;
}

.l-block {
    display: block;
}

.l-inline {
    display: inline;
}

.l-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.l-none {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

#header {
    background: #10222b;
}

#main {
}

#footer {
    height: 189px;
    background: #10222b;

}

.logo {
    height: 270px;
    margin: 0 auto;
    background: url("/images/logo.png") no-repeat;
}

.guide {
    width: 90%;
    margin: 0 auto;
    height: 450px;
    text-align: center;
}

.guide > .bd {
    margin-top: 87px;
    text-align: center;
}

.guide .guide-link {
    width: 30%;
    max-width: 284px;
    height: 73px;
    padding-top: 148px;
    color: #333;
    font-size: 26px;
    background: url(/images/guide.png) no-repeat;
}

.guide .guide-link:hover {
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

.guide .dev {
    float: left;
    background-position: 32px 0;
}

.guide .spec {
    display: inline-block;
    background-position: -224px 0;
}

.guide .tool {
    float: right;
    background-position: -480px 0;
}

.guide .guide-link em {
    display: block;
    margin-top: 20px;
    line-height: 73px;

    font-style: normal;
}

.guide .ft {
    margin-top: 65px;
    text-align: center;
}

.guide .source {
    display: none;
    width: 363px;
    height: 92px;
    line-height: 92px;
    padding-left: 109px;
    text-align: left;
    color: #fff;
    background: #24abeb url(/images/source.png) 10px no-repeat;
    font-size: 40px;
}

.guide .source.bounce {
    display: inline-block;
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.contribute {
    display: table;
    min-height: 240px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background: #24abeb;
    overflow: hidden;
}

.contribute .hd {
    display: table-cell;
    width: 30px;
    min-height: 150px;
    padding: 0 13px;
    line-height: 40px;
    background: #0e4661;
    vertical-align: middle;
    text-align: center;
}

.contribute .title {
    font-size: 20px;
    color: #fff;
}

.contribute .bd {
    display: table-cell;
}

.author-list {
    margin-bottom: -10px;
}

.author-list .author {
    float: left;
    position: relative;
    margin-left: 12px;
    margin-bottom: 7px;
}

.author-list .author-info {
    position: absolute;
    display: none;
    left: -170px;
    top: 0;
    width: 150px;
    height: 60px;
    padding: 5px 10px;
    text-align: right;
    background: rgb(255, 255, 217);

}

.author-list .author:hover .author-info {
    display: block;
    -webkit-animation-name: rotateIn;
    -moz-animation-name: rotateIn;
    -o-animation-name: rotateIn;
    animation-name: rotateIn;
}

.author-list img {
    width: 70px;
    height: 70px;
}

.author-list .author-email {
    font-size: 12px;
}

.author-list .author-name {
    margin: 10px 0;
}

.component {
    padding: 97px 43px 112px 48px;
}

.component .has-cover {
    -webkit-perspective: 800;
}

.component .wrap {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}

.component .has-cover:hover .wrap {
    -webkit-transform: rotateY(180deg);
}

.component .has-cover .detail-link-wrap {
    line-height: inherit;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
}

.component .has-cover .item-link {
    line-height: 188px;
    -webkit-backface-visibility: hidden;
}

.component-list .item {
    position: relative;
    display: inline-block;
    width: 218px;
    height: 212px;
    margin: 20px 10px 0 0;
    vertical-align: top;
}

.component-list .item iframe {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.component-list .item-link {
    position: absolute;
    display: block;
    width: 194px;
    height: 188px;
    padding: 10px 10px 14px 14px;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-list .cover {
    vertical-align: middle;
}

.component-list .name {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
}

.component-list .author {
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 0 10px 0 14px;
    margin-left: -14px;
    background: #24abeb;
    color: #fff;
}

.component-list .avatar {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.component-list .desc {
    margin: 8px 0 8px;
    color: #333;
    font-size: 14px;
    line-height: 22px;
}

.component-list .demo-link {
    position: absolute;
    right: 0;
    top: 24px;
    height: 24px;
    padding: 0 10px 0 5px;
    line-height: 24px;
    background: #DB8167;
    color: #fff;

    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    -ms-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s;
}

.component-list .demo-link:hover {
    padding: 0 20px 0 15px;
}

.component-list .demo-link:before {
    content: "";
    position: absolute;
    left: -32px;
    top: 0;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent #DB8167 transparent transparent;
}

.contact {
    height: 51px;
    padding: 43px 53px 57px;
}

.contact .item {
    float: left;
    margin-right: 73px;
    color: #fff;
}

.contact .desc {
    margin-top: 15px;
    font-size: 24px;
}

.contact a {
    color: #fff;
}

.index-author {
    height: 38px;
    padding-right: 17px;
    line-height: 38px;
    background: #e3e1e1;
    font-size: 14px;
}



