@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% {
        -webkit-transform-origin: top center;
    }

    20% {
        -webkit-transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes swing {
    20% {
        -moz-transform: rotate(15deg);
    }

    40% {
        -moz-transform: rotate(-10deg);
    }

    60% {
        -moz-transform: rotate(5deg);
    }

    80% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes swing {
    20% {
        -o-transform: rotate(15deg);
    }

    40% {
        -o-transform: rotate(-10deg);
    }

    60% {
        -o-transform: rotate(5deg);
    }

    80% {
        -o-transform: rotate(-5deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.1);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: #e3e1e1;
}

body {
    font-family: "Microsoft YaHei";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-fixed {
    position: fixed;
}

.l-block {
    display: block;
}

.l-inline {
    display: inline;
}

.l-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.l-none {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*.w {
    width: 1280px;
    margin: 0 auto;
}*/

#header {
    background: #10222b;
}

#main {
}

#footer {
    height: 189px;
    background: #10222b;

}

.logo {
    height: 294px;
    margin: 0 auto;
    background: url("/images/logo.png") no-repeat;
}

.guide {
    width: 90%;
    margin: 0 auto;
    height: 537px;
    text-align: center;
}

.guide > .bd {
    overflow: hidden;
    margin-top: 87px;
    text-align: center;
}

.guide .guide-link {
    width: 30%;
    max-width: 284px;
    height: 73px;
    padding-top: 148px;
    color: #333;
    font-size: 26px;
    background: url(/images/guide.png) no-repeat;
}


.guide .dev {
    float: left;
    background-position: 32px 0;
}

.guide .spec {
    display: inline-block;
    background-position: -224px 0;
}

.guide .tool {
    float: right;
    background-position: -480px 0;
}


.guide .guide-link em {
    display: block;
    margin-top: 20px;
    line-height: 73px;

    font-style: normal;
}


.guide .ft {
    margin-top: 65px;
    text-align: center;
}

.guide .source {
    display: inline-block;
    width: 363px;
    height: 92px;
    line-height: 92px;
    padding-left: 109px;
    text-align: left;
    color: #fff;
    background: #24abeb url(/images/source.png) 20px no-repeat;
    font-size: 40px;
}


.contribute {
    padding: 5%;
    height: 282px;
    background: #24abeb;
}

.contact {
    height: 151px;
}

.index-author {
    height: 38px;
    line-height: 38px;
    background: #e3e1e1;
}



