.content{
  width:710px;

  h2{
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
    margin-bottom: 20px;
    span{
      font-size:12px;
      margin-left:10px;
      color:#80c269;
      font-weight:normal;
    }
  }
}
ul{
  list-style: none;
  padding-left:0px;
  margin-bottom:0;
}
.component-list{
  margin-left:0;
  margin-bottom: 20px;
  .desc{
    color:#666;
    margin-top:5px;
    height:24px;
    line-height: 20px;
    padding-right:10px;
    overflow: hidden;
  }
  li{
    width:180px;
    float:left;
    padding-left:34px;
  }
}

.span4{
  margin-left: 36px;
}
.all-com-btn{
  padding:10px;
  background-color: #24abeb;
  color: #fff;
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  width:120px;
  margin-right:10px;
}
.all-com-btn:hover{
  color:#fff;
}
.guide-btn{
  width:170px;
}
.mobile-btn{
  background-color: #000;
}
.abc-btn{
  width:180px;
  background-color: #80c269;
}