#footer
    .contact
        ul.clearfix
            li.item
                p.title 开发者旺旺群
                p.desc  600859238
            li.item
                p.title 邮箱
                p.desc kissyteam@gmail.com
            li.item
                p.title 讨论组
                p.desc
                    a(href="http://groups.google.com/group/kissy-ui/"
                    target="_blank") kissy-ui
            li.item
                p.title &nbsp;
                p.desc
                    a(href="http://docs.kissyui.com/"
                    target="_blank") Kissy首页
    .index-author
        script(src='/javascripts/gallery.js')
        script
            KISSY.use('gallery-js')
        div.author-name.l-right <script src="http://s9.cnzz.com/stat.php?id=5379789&web_id=5379789&online=2" language="JavaScript"></script>