nav.nav-tag-list
    if !tag
        a.current(href="http://gallery.kissyui.com/coms") 最新组件
    else
        a(href="http://gallery.kissyui.com/coms") 最新组件
    if systemTags
        each com,t in systemTags
            if tag && t == tag
                a.current(href="http://gallery.kissyui.com/tag/#{t}") #{t}
            else
                a(href="http://gallery.kissyui.com/tag/#{t}") #{t}
